<!-- <div class="spacer"></div>
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="col-4">
                <div class="card">
                    <img src="../images/caousel/1.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-outline-info">View</a>
                    </div>
                </div>
            </div>
        </div>
      <div class="carousel-item">
          <img src="../images/carousel/2.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
              <h5 style="color: cyan;">fresh dishes</h5>
              <p>Some representative placeholder content for the second slide.</p>
              <button type="button" class="btn btn-outline-info">Learn More..</button>
          </div>
      </div>
      <div class="carousel-item">
          <img src="../images/carousel/3.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
              <h5 style="color: cyan;">fresh vegetables</h5>
              <p>Some representative placeholder content for the third slide.</p>
              <button type="button" class="btn btn-outline-info">Learn More..</button>
          </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div> -->

<div class="container text-center">
    <div class="spacer"></div>
    <p class="fs-2 text-center text-uppercase pHdrs"><span>top readers</span></p>
    <div class="row justify-content-start" style="padding-top: 2rem;">
        <div class="col-4">
          <div class="card">
              <img src="../images/carousel/1.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-outline-info">View</a>
              </div>
          </div>
        </div>
        <div class="col-4">
          <div class="card">
            <img src="../images/carousel/2.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-outline-danger">View</a>
            </div>
        </div>
        </div>
        <div class="col-4">
          <div class="card">
            <img src="../images/carousel/3.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-outline-success">View</a>
            </div>
          </div>
        </div>
    </div>
</div>

<div class="container text-center">
    <div class="spacer"></div>
    <p class="fs-2 text-center text-uppercase pHdrs"><span>must read</span></p>
    <div class="row justify-content-start" style="padding-top: 2rem;">
      <ul class="gallery_box">
        <li>
          <a href="javascript:vid(0);"><img src="https://picsum.photos/600/700/?random">
          <div class="box_data">
            <span>
              <button type="button" class="btn btn-outline-light" data-bs-toggle="modal" data-bs-target="#exampleModal">View Book</button>
            </span>
          </div></a>
        </li>
        <li>
          <a href="javascript:vid(0);"><img src="https://picsum.photos/600/701/?random">
          <div class="box_data">
            <span>
              <button type="button" class="btn btn-outline-light" data-bs-toggle="modal" data-bs-target="#exampleModal">View Book</button>
            </span>
          </div></a>
        </li>
        <li>
          <a href="javascript:vid(0);"><img src="https://picsum.photos/600/702/?random">
          <div class="box_data">
            <span>
              <button type="button" class="btn btn-outline-light" data-bs-toggle="modal" data-bs-target="#exampleModal">View Book</button>
            </span>
          </div></a>
        </li>
        <li>
          <a href="javascript:vid(0);"><img src="https://picsum.photos/600/703/?random">
          <div class="box_data">
            <span>
              <button type="button" class="btn btn-outline-light" data-bs-toggle="modal" data-bs-target="#exampleModal">View Book</button>
            </span>
          </div></a>
        </li>
        <li style="position: relative; top: -134px;">
          <a href="javascript:vid(0);"><img src="https://picsum.photos/600/704/?random">
          <div class="box_data">
            <span>
              <button type="button" class="btn btn-outline-light" data-bs-toggle="modal" data-bs-target="#exampleModal">View Book</button>
            </span>
          </div></a>
        </li>
        <li>
          <a href="javascript:vid(0);"><img src="https://picsum.photos/600/705/?random">
          <div class="box_data">
            <span>
              <button type="button" class="btn btn-outline-light" data-bs-toggle="modal" data-bs-target="#exampleModal">View Book</button>
            </span>
          </div></a>
        </li>
      </ul>
    </div>
</div>

<div class="container">
    <p class="fs-2 text-center text-uppercase pHdrs"><span>Random Books</span></p>
    <div class="row justify-content-start" style="padding-top: 2rem;">
      <div class="card mb-12">
        <div class="row g-0">
          <div class="col-md-4" style="max-width: 540px; margin-top:20px">
            <img src="https://picsum.photos/600/704/?random" width="540" height="350" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h1 class="card-title text-center">Card title</h1>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
              <p class="card-text text-end"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">View Book</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
</div>
<div class="spacer"></div>